extends header

block content
  div(class='text-center')
    h3 Foxy
    br
    img#loader(hidden="" src="img/loader.gif", alt="Loader", height="60", width="60")
  br
  div#formResetPassword.form-group
    label(for="newPassword") New Password
    input#newPassword.form-control(required="" type="password" 
        placeholder="Enter your new password and click on the submit button").form-group
    br
    button#btnSendForm.btn.btn-primary(type="submit") Submit
    br
    br
    div(class='text-center')
        p#responseMessage 
  script(src='js/reset-password.js')
